@import "vars.scss";

.homepage {
  color: $text-color;
  max-width: 80vw;

  font-family: Optima, sans-serif;

  padding: 24px;
  letter-spacing: 0.02rem;
  h1,
  h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $heading-color;
  }

  h3,
  h4 {
    color: $sub-heading-color;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 8px 0px;
  }

  > header {
    margin-bottom: 24px;
  }
}



